* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

.parent {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

/* Top terminal bar */
#navbar {
    background-color: #222;
    color: #ffffff;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    height: 40px;
}

#terminal-heading {
    font-size: medium;
    margin-left: 45%;
    font-size: 14px;
}

#window-controls {
    display: flex;
    gap: 8px;
}

/* Fake close, maximize, and minimize buttons */
.control-btn {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
}

.close {
    background-color: red;
}

.maximize {
    background-color: yellow;
}

.minimize {
    background-color: green;
}

/* Terminal window */
#container {
    background-color: #300a24;
    color: #13613d;
    height: 100%;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    display: flex;
    align-items: start;
}

#terminal-text {
    color: #269f60;
    font-size: 16px;
}

